@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    background-color: #fff5e1;
    color: #5d4037;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Pacifico', cursive;
    color: #5d4037;
}

p{
    color: #5d4037;
}

.texto-secundario{
    color: #b0bec5;
}

button, .boton{
    background-color: #ffc0cb;
    color: #fff5e1;
    border: 2px solid #8b4513;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .boton:hover{
    background-color: #8b4513;
    color: #fff5e1;
}

.header{
    background-color: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0px 40px;
    position: relative;
    border-bottom: 2px solid #8b4513;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img{
    height: 100px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center; /* centra los enlaces horizontalmente */
    gap: 15px;
    font-size: 20px;
}

.navbar a {
    color: #5d4037;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #800020;
}

.navbar a.active{
    color: #800020;
}

.carrito {
    position: relative;
    margin-right: 60px;
}

.carrito a {
    color: #5d4037;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.carrito a:hover {
    color: #800020;
}

.carrito a.active{
    color: #800020;
}

.carrito a i{
    font-size: 30px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}